.App {
  text-align: center;
}
div.card {
  display: inline-block;
  width: 400px;
  border: 1px solid black;
  box-shadow: 4px 4px 15px 1px #000000;
  margin: 30px 0;
  text-align: left;
  padding: 5px 30px;
}
div.close {
  margin-top: 10px;
  text-align: right;
}
div.close:hover {
  cursor: pointer;
}
.card p:first-of-type {
  margin-top: 3px;
  margin-bottom: 30px;
}
h4 {
  font-size: 2rem;
  margin-bottom: 0;
}
h6 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0px;
}
.searchButton {
  font-size: 1.3rem;
  background-color: #e5b6b6;
  padding: 5px 20px;
  border-radius: 5px;
}
.searchButton:hover {
  background-color: rgba(139, 38, 38, 0.144);
  cursor: pointer;
}
.searchInput {
  width: 360px;
  height: 35px;
  margin-right: 20px;
  border-radius: 10px;
  border: 2px solid #e6e6e6;
  padding: 5px 10px;
  font-size: 1rem;
}